<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/estilo.css">
    <link rel="icon" href="Public/Img/icon.png" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Seniors</title>
</head>
<body>
   <!--HEADER-->
   <header>
    <!--NAVBAR-->
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
       <div class="container-fluid">
         <a class="navbar-brand" href="../../Index.html"><img class="logo" src="../Img/PatiToy.png" alt="PatiToy"></a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
           <ul class="navbar-nav me-auto mb-2 mb-lg-0">
             <li class="nav-item">
               <a class="nav-link active" aria-current="page" href="../../Index.html">Inicio</a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="Nosotros.html">Nosotros</a>
             </li>
             <li class="nav-item">
                <a class="nav-link" href="Registrarse.html">Registrarse</a>
              </li>
             <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 Productos
               </a>
               <ul class="dropdown-menu">
                 <li><a class="dropdown-item" href="Cachorros.html">Cachorros</a></li>
                 <li><a class="dropdown-item" href="Seniors.html">Seniors</a></li>
                 <li><hr class="dropdown-divider"></li>
                 <li><a class="dropdown-item" href="Perrosconmordidafuerte.html">Perros con mordida fuerte</a></li>
               </ul>
             </li>
             <li class="nav-item">
               <a class="nav-link disabled" aria-disabled="true">No-disponible</a>
             </li>
           </ul>
           <form class="d-flex" role="search">
             <input class="form-control me-2" type="search" placeholder="Escribir" aria-label="Buscar">
             <button class="btn btn-outline-success" type="submit">Buscar</button>
           </form>
     </div>
</div>
</nav> 
</body>
  <!--PRINCIPAL-->
    <div class="section">
        <div class="parrafo">
            <h1>Trixie Flipf</h1>
            <p> Este juego pondrá en práctica la inteligencia y habilidad de tu mascota. Es ideal para mantenerlo entretenido, tratando de sacar las golosinas del tablero.
            <ul> 
                <li>El perro obtiene las golosinas utilizando diferentes técnicas.</li>
                <li>El tablero vine con 2 conos y hendiduras con tapas con bisagras y deslizantes.</li>
                <li>Base de goma antideslizante.</li>
                <li>Medidas: 23cm diámetro</li>
                <li>PRECIO: $9.800</li>
              </ul>  
            </p>
        </div>
      <img src="../Img/trixieflip1.png" alt="trixieflip1" height="40%">
    </div>
    <div class="section">
        <div class="parrafo">
            <h1>Rellenable Snack Perros</h1>
            <p> Este juguete está adaptado para las necesidades de masticación y juego de un perro de edad avanzada. La exclusiva fórmula de caucho completamente natural del KONG Senior está diseñada para dientes y encías que han disfrutado de la masticación durante años. 
            <ul> 
                <li>Ofrece una experiencia de masticación suave y confortable mientras satisface las necesidades instintivas</li>
                <li>MEDIDAS: 2 CM LARGO 8 CM DE ANCHO</li>
                <li>Ideal para perros entre 13 - 30 kg</li>
                <li>Caucho KONG formulado especialmente para perros mayores</li>
                <li>PRECIO: 13.800</li>
            </ul>  
            </p>
        </div>
      <img src="../Img/juguetesenior3.png" alt="juguetesenior3" height="40%">
    </div>
    <div class="section">
        <div class="parrafo">
            <h1>Likimat: Alfombra De Lamer Perros</h1>
            <p> REDUCE LA ANSIEDAD y EL ABURRIMIENTO: LickiMat ayuda a calmar y calmar a su mascota mientras disfruta de su golosina favorita al ayudar a liberar endorfinas a través de la promoción de lamer. 
              <ul> 
                <li>Apto para todas las edades.</li>
                <li>Promueve una alimentación más lenta, lo que a su vez reduce la hinchazón y mejora la digestión.</li>
                <li>20 x 20 cm/ 8"" x 8"</li>
                <li>Congelador seguro</li>
                <li>PRECIO: $8.220</li>
              </ul>  
            </p>
        </div>
      <img src="../Img/liki2.jpg" alt="liki2" height="40%">
    </div>    
    <div>
        <main>
            <article>
                <h2>Beneficios para tu perrito con nuestros juguetes interactivos.</h2>
                <h3>Conocé más sobre nuestros productos y quienes somos.</h3>
                <a href="Nosotros.html"class="read-more">AQUI</a>
                <a href="../../Index.html" class="imagen"><img src="../Img/juguetesenior2.png" alt="juguetesenior2"></a>
            </article>
        </main>
    <!--FOOTER-->
    <footer>
        &copy; Karina Boso, Potrero Digital. 2023.
    </footer>    
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>